#!/usr/bin/env bash
set -euo pipefail
source ./00-env.sh

ROOT_UUID=$(blkid -s PARTUUID -o value "${disk}3")
SWAP_UUID=$(blkid -s PARTUUID -o value "${disk}2")
EFI_UUID=$(blkid -s PARTUUID -o value "${disk}1")

sed \
  -e "s/{{ROOT_PARTUUID}}/$ROOT_UUID/" \
  -e "s/{{SWAP_PARTUUID}}/$SWAP_UUID/" \
  -e "s/{{EFI_PARTUUID}}/$EFI_UUID/" \
  ./assets/fstab.template > "$MOUNTPOINT/etc/fstab"

echo "[✓] fstab generated"
