CONFIG_PRINTK=y
CONFIG_EARLY_PRINTK=y

CONFIG_SERIAL_8250=y
CONFIG_SERIAL_8250_CONSOLE=y
CONFIG_SERIAL_CORE=y
CONFIG_SERIAL_CORE_CONSOLE=y

CONFIG_VIRTIO=y
CONFIG_VIRTIO_PCI=y
CONFIG_VIRTIO_BLK=y
CONFIG_VIRTIO_NET=y

CONFIG_HPET=n
CONFIG_HPET_TIMER=n

CONFIG_DEVTMPFS=y
CONFIG_DEVTMPFS_MOUNT=y
CONFIG_TMPFS=y
CONFIG_TMPFS_POSIX_ACL=y

CONFIG_UNIX=y
CONFIG_SYSFS=y
CONFIG_PROC_FS=y
CONFIG_SIGNALFD=y
CONFIG_EPOLL=y

CONFIG_NET=y
CONFIG_INET=y
CONFIG_PACKET=y
CONFIG_UNIX_DIAG=y

CONFIG_EXT4_FS=y
CONFIG_FS_MBCACHE=y
CONFIG_JBD2=y
CONFIG_CRC16=y

# --- ディスプレイ表示に必須 ---
CONFIG_DRM=y
CONFIG_DRM_VIRTIO_GPU=y
CONFIG_FB=y
CONFIG_FRAMEBUFFER_CONSOLE=y

# --- UEFI環境での表示に必須 ---
CONFIG_SYSFB=y
CONFIG_FB_EFI=y
CONFIG_DRM_SIMPLEDRM=y

# --- 入力デバイス（キーボード等） ---
CONFIG_INPUT=y
CONFIG_INPUT_KEYBOARD=y
CONFIG_KEYBOARD_ATKBD=y
CONFIG_VIRTIO_INPUT=y

CONFIG_VT=y
CONFIG_VT_CONSOLE=y