CONFIG_64BIT=y
CONFIG_X86_64=y
CONFIG_MODULES=y
CONFIG_DEVTMPFS=y
CONFIG_DEVTMPFS_MOUNT=y
CONFIG_TMPFS=y
CONFIG_VT=y
CONFIG_VT_CONSOLE=y
CONFIG_FRAMEBUFFER_CONSOLE=y
CONFIG_FB_EFI=y
CONFIG_DRM=y
CONFIG_EXT4_FS=y
CONFIG_VFAT_FS=y

# --- early boot display (UEFI必須) ---
CONFIG_DRM_KMS_HELPER=y
CONFIG_DRM_SIMPLEDRM=y
CONFIG_SYSFB_SIMPLEFB=y

# fallback framebuffer
CONFIG_FB=y
CONFIG_FB_SIMPLE=y
CONFIG_FB_VESA=y
