# --- Architecture ---
CONFIG_64BIT=y
CONFIG_X86=y
CONFIG_X86_64=y

# --- Core ---
CONFIG_MODULES=y
CONFIG_DEVTMPFS=y
CONFIG_DEVTMPFS_MOUNT=y
CONFIG_TMPFS=y

# --- Networking (CRITICAL) ---
CONFIG_NET=y
CONFIG_INET=y
CONFIG_NET_NS=y
CONFIG_PACKET=y
CONFIG_UNIX=y

# --- Filesystems ---
CONFIG_EXT4_FS=y
CONFIG_VFAT_FS=y

# --- Console / EFI ---
CONFIG_VT=y
CONFIG_VT_CONSOLE=y
CONFIG_FRAMEBUFFER_CONSOLE=y
CONFIG_FB_EFI=y

# --- DRM / early boot ---
CONFIG_DRM=y
CONFIG_DRM_KMS_HELPER=y
CONFIG_DRM_SIMPLEDRM=y
CONFIG_SYSFB_SIMPLEFB=y

# --- fallback framebuffer ---
CONFIG_FB=y
CONFIG_FB_SIMPLE=y
CONFIG_FB_VESA=y

# --- CPU / Paravirt ---
CONFIG_PARAVIRT=y
CONFIG_PARAVIRT_TIME_ACCOUNTING=y
CONFIG_KVM_GUEST=y
CONFIG_KVM_CLOCK=y
CONFIG_HYPERVISOR_GUEST=y

# --- Timer / Clock ---
CONFIG_GENERIC_CLOCKEVENTS=y
CONFIG_GENERIC_CLOCKEVENTS_BROADCAST=y
CONFIG_TICK_ONESHOT=n
CONFIG_NO_HZ_IDLE=n
CONFIG_NO_HZ_COMMON=n

# --- TSC ---
CONFIG_X86_TSC=y
CONFIG_X86_TSC_DEADLINE_TIMER=n
CONFIG_TSC=y
CONFIG_TSC_RELIABLE=n

# --- APIC ---
CONFIG_X86_LOCAL_APIC=y
CONFIG_X86_IO_APIC=y

# --- HZ ---
CONFIG_HZ_100=y
# CONFIG_HZ_250=y
# CONFIG_HZ_1000 is not set

CONFIG_VIRTIO=y
CONFIG_VIRTIO_PCI=y
CONFIG_VIRTIO_BLK=y
CONFIG_VIRTIO_NET=y
CONFIG_VIRTIO_GPU=y
CONFIG_DRM_VIRTIO_GPU=y
CONFIG_SCSI=y
CONFIG_BLK_DEV_NVME=y

CONFIG_SERIAL_8250=y
CONFIG_SERIAL_8250_CONSOLE=y
CONFIG_SERIAL_CORE=y
CONFIG_SERIAL_CORE_CONSOLE=y

CONFIG_NO_HZ_FULL is not set
CONFIG_HPET=y
CONFIG_HPET_TIMER=y

CONFIG_EARLY_PRINTK=y
CONFIG_DEBUG_KERNEL=y
CONFIG_PRINTK=y
CONFIG_LOG_BUF_SHIFT=18

CONFIG_SMP=n #これは一時的 起動確認後に戻す