CONFIG_VIRTIO=y
CONFIG_VIRTIO_PCI=y
CONFIG_VIRTIO_BLK=y
CONFIG_VIRTIO_NET=y
CONFIG_VIRTIO_GPU=y
CONFIG_DRM_VIRTIO_GPU=y
CONFIG_SCSI=y
CONFIG_BLK_DEV_NVME=y

CONFIG_SERIAL_8250=y
CONFIG_SERIAL_8250_CONSOLE=y
CONFIG_SERIAL_CORE=y
CONFIG_SERIAL_CORE_CONSOLE=y

CONFIG_NO_HZ_FULL is not set
CONFIG_HPET is not set
CONFIG_HPET_TIMER is not set
